/* Scss Document */

//マルチデバイス設定

$pc: 1024px; // 小型pc,タブレット横
$tab: 768px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@media (min-width: 769px){
	.tab{
		display: none;
	}
}

@media (max-width: 768px){
	.pc {
		display: none;
	}
	.tab{
		display: block;
	}
}

//中央寄せ
%box-center{
	margin: 0 auto;
}

//imgレスポンス
%img-responsiv{
	width: 100%;
	height: auto;
}


*{
	margin: 0;
	padding: 0;
}

section,article,aside,hgroup,header,footer,nav,figure{
	display:  block;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a img:hover {
	opacity: 0.8;
}

li img {
	display: block;
}

a img {
	border-style: none;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

h2 {
	text-align: center;
	line-height: 1;
	font-weight: 500;
	font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0929));
}

h3,h4 {
	font-size: 26px;
	font-weight: 400;
	@include tab {
		font-size: 22px;
	};
}


body {
	font-family: 'Cambria','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	line-height: 1.5;
	font-size: 12px;
	font-weight: 200;
	color: #000;
}

//ヘッダー
	header {
	  width: 100%;
	  border-bottom: solid 2px #ffcc66;
	  box-sizing: border-box;
		height: 40px;
		@include sp{
			height: 25px;
		}
	  .header-inner {
		width: 80%;
		margin: 0 auto;
		  position: relative;
		  @include sp{
			  width: 90%;
		  }
		
		  h1 {
			  position: absolute;
		  width: 150px;
		  height: 35px;
			  @include tab {
				  width: 140px;
			  }
			  
			   @include sp {
				  width: 80px;
				   top: -4px;
			  }
			  
			  a img {
				@extend %img-responsiv;
			  }
		  }
	  }
	}

//メインイメージ
.main-image {
	position: relative;
	width: 100%;
	
	.image{
		img{
			width: 100%;
			height: 96vh;
			object-fit: cover;
			vertical-align: top;
			@include pc{
				height: auto;
			}
		}
	}
	
	.cachcopy {
			  position: absolute;
			   top: 20%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			  height: auto;
			  width: 40%;
			
				@include tab{
					width: 57%;
				} 
			 
			  img {
				  width: 100%;
				  height: auto;
			  }
		  }
		  .main-button {
			position: absolute;
			  bottom: 3%;
			  left: 5%;
			width: 30%;
			  
			  @include sp {
				  width: 45%;
				  bottom: 2%;
				  left: 3%;
			  }
				img {
				  @extend %img-responsiv;
				}
			}
}

//セッションきょうつう
		section {
			@extend %box-center;
			padding-top: 80px;
			width: 70%;
			@include pc {
				width: 85%;
			}
				@include tab {
					width: 90%;
				}
			}



//アスデッサン説明
		.ad-description{
			width: 100%;
			position: relative;
			background-color: #FFF8EF;
			@include sp{
				margin: 0;
			}
			.text {
				width: 70%;
				@extend %box-center;
				padding: 40px 0;
				text-align: center;
				@include tab {
					width: 90%;
					padding: 20px 0;
				}
				h2 {
					color: #ff6600;
					margin-bottom: 40px;
					line-height: 1.6;
					font-size: calc(1.5rem + ((1vw - 7.68px) * 1.9126));
					@include sp {
						margin-bottom: 15px;
					}
					
				}
				p {
					line-height: 1.7;
					font-size: 16px;
					margin-bottom: 20px;
					@include sp{
						margin-bottom: 15px;
						font-size: 14px;
					}
				}
				#readmore {
					width: 250px;
					@extend %box-center;
					padding: 35px 0;
					a {
					display: block;
					border: red 1px solid;
					text-align: center;
					color: red;
					font-size: 14px;
					font-weight: 400;
					padding: 12px 0 10px;
				    -webkit-transition:  .5s ease-in-out;
					-o-transition:  .5s ease-in-out;
					transition:  .5s ease-in-out;
				    }
					
					& a:hover{
						background-color: red;
						color: white;
					}
				} 
			}
			
	//アスデッサン説明ページカラーボール,写真設定		
			.ball {
				width: 20%;
				height: auto;
				border-radius: 50%;
				opacity: 0.8;
				@include tab {
					display: none;
				}
			}
			
			.photo {
				z-index: 2;
				@include pc{
					display: none;
				}
			}
			
			& img{
				width: 100%;
				position: absolute;
				height: auto;
			}
			
			//レフト
			#sample1{
				top: 13%;
				left: 1%;
				width: 11%;
				
			}
			
			#sample2{
				top: 52%;
				left: 6%;
				width: 14%;
				
			}
			
			#pink-ball {
				top: 35%;;
				left: 13%;
				width: 3%;
				opacity: .3;
				@include pc {
					top: 40%;
					left: 2%;
					width: 10%;
				}
			}
			
			#green-ball {
				top: 9%;
				left: 15%;
				width: 5%;
				opacity: 0.6;
				@include pc {
					top: 18%;
					left: 9%;
					width: 5%;
				}
			}
			
			#pink-ball2 {
				bottom: 10%;
				left: 3%;
				width: 6%;
				opacity: .5;
				@include pc {
					bottom: 23%;
					left: 7%;
					width: 5%;
				}
			} 
			
			//ライト
			
			#sample3 {
				right: 0%;
				top: 15%;
				width: 16%;
			}
			
			#sample4 {
				right: 10%;
				bottom: 5%;
				width: 11%;
			}
			
			#yellow-ball {
				right: 17%;
				top: 12%;;
				width: 3%;
				background-color: #FFFC59;
				@include pc {
					top: 20%;
					right: 5%;
					width: 6%;
				}
			}
			
			#pink-ball3 {
				right: 4%;
				top: 66%;
				width: 2%;
				opacity: .4;
				@include pc {
					top: 71%;
					right: 5%;
					width: 5%;
				}
			}
			
			#pink-ball4 {
				right: 18%;
				top: 44%;
				width: 5%;
				opacity: .6;
				@include pc {
					display: none;
				}
			}
			
			#green-ball2 {
				right: 5%;
				top: 58%;
				width: 4%;
				background-color: #B6FF45;
				@include pc {
					top: 43%;
					right: 2%;
					width: 10%;
				}
			}
			
			
		}





//ロルモ、未来トークタイトル

.title-wrapper {
					/*display: table;*/
					/*table-layout: fixed;*/
					display: block;
					border-bottom: 1px solid #FF9D00;
					padding-bottom: 10px;
					margin-bottom: 12px;
					  .square {
						display: table-cell;
						display: none;
						border-radius: 50%;
						background-color: #FF7B15;
						width: 50px;
						height: 50px;
						color: white;
						font-size: 32px;
						font-weight: 500;  
						text-align: center;
						vertical-align: middle;
						  @include tab {
							font-size: 28px;
							  width: 44px;
							  height: 44px;
						}
					  }
					  .contents-h3 {
						/*display: table-cell;*/
						width: 110px;
						padding-left: 15px;
						  padding-top: 3px;
						  img{
							  @extend %img-responsiv;
							  vertical-align: middle;
						  }
					}
						.talk-logo {
							width: 160px;
						}
				  }
.sp{
	display: none;
	@include sp {
		display: block;
	}
}

.pc {
	@include sp{
			display: none;

	}
}

//ロルモ、未来トーク共用部分

.rolemo,.talk{
	display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		    margin: 0;
}


.wrap{
	padding-top: 80px;
}

.wrap:last-child{
	padding-bottom: 80px;
	@include sp{
		padding-top: 40px;
	}
}


.description {
	vertical-align: top;
	width: 50%;
	@include sp{
			min-width: 320px;
		    margin: 0 auto;
	    }
}

.description p {
	font-size: 14px;
	line-height: 1.7;
	padding: 0 3%;
	@include sp {
	  width: 96%;
		margin: 0 auto;
		padding-left: 1%;
	}
}


//サムネイル画像
.thumnail {
	width: 45%;
}

.thumnail img {
		width: 100%;
		height: auto;
	    box-shadow: 8px 10px 36px 8px rgba(0, 0, 0, 0.3);
	@include tab {
		box-shadow: 4px 6px 24px 0px rgba(0, 0, 0, 0.3);
	}
}

//スマホ設定
.thumnail,.description {
	@include tab {
		width: 50%;
	}
	@include sp {
		width: 100%;
		min-width: 270px;
		margin: 15px auto 0;
		padding: 0;
	}
}

		//ボタン共用設定
               .btn {
					   display: block;
					  width: 170px;
					  height: 40px;
					  border-radius: 30px;
					  line-height: 40px;
					  text-align: center;
					  font-weight: 400;
					  letter-spacing: 0.1em;
					  padding-left: 10px;
					  position: relative;
				     color: white;
					  @include tab{
						  width: 150px;
					   }
					  &::before{
						    content: "";
							position: absolute;
							display: inline-block;
							left: 36px;
							top: 33%;
							border-top: 6px solid transparent;
							border-bottom: 6px solid transparent;
							border-left: 8px solid white;
					  }
					}

//見出し設定
	.ad-contents {
	
			h2 {
				width: 100%;
				@extend %box-center;
				.inner-h2 {
					display: inline-block;
					width: 90%;
				&::after {
					display: block;
					height: 7px;
					content: "";
					width: 100%;
					margin: 5px auto 0;
				background-color: yellow;
				   }
				}
			   }
//ロルモ説明
		 .rolemo{
			  @include sp{
				   -ms-flex-wrap: wrap-reverse;
				      flex-wrap: wrap-reverse;
			  }
			  .description {
				  @include tab{
					  padding-right: 3%;
					  @include sp {
						  padding: 0;
					  }
				    }
				  }
				  
			  #rolemo-button{
				  padding-top: 20px;
				  .btn {
					  background-color: #FF8400;
					 
					  &:hover{
						  background-color: #FE9971;
					  }
				  }  
			 }
		}
			 
	//未来トーク説明		  
				.talk{
					 @include sp{
				  -ms-flex-wrap: wrap;	 
				  flex-wrap: wrap;
			      }   
				  .description {
					  padding-left: 10%;
						  @include tab{
						  padding-left: 4%;
						  }
						  @include sp {
							  padding: 0;
						  }
					  }
					 
					} 	
				 
             }

//寄付方法説明


.donaition-method{
			width: 100%;
			margin: 0;
			padding-top: 80px;
			padding-bottom: 80px;
			background-color: #fff7ca;
			.donaition-text{
				width: 50%;
				@extend %box-center;
				text-align: center;
				border: solid 1px #fc6;
				border-radius: 8px;
				padding: 40px 60px;
				background-color: #fffce3;
				@include tab {
					padding: 20px 7%;
					width: 80%;
				}
				@include sp {
					padding: 20px 0 ;
					width: 90%;
				}
				h3{
					margin-bottom: 30px;
					color: #FF662E;
					font-size: calc(1.625rem + ((1vw - 4.8px) * 0.7843));
					font-weight: 500;
					border-bottom: 2px solid #FF662E;
					@include sp {
						margin: 0 3% 30px;
					}
				}

				dl{ 
					width: 70%;
					@extend %box-center;
					text-align: left;
					font-size: 14px;
					margin-bottom: 10px;
					 @include tab {
						font-size: 12px;
					}
					dt {
						font-size: 1.5em;
						margin-bottom: 5px;
					}
					dd  {
						&:first-child{
							margin-left: 1em;
						}
						#red{
							color: red;
							font-size: 1em;
							padding-left: 3px;
						}
						#form-enter{
							margin: 30px auto 0;
							background-color: red;
						}
					}
				}
				#contact{
						text-align: center;
						padding: 30px 0 20px;
					
						#contact-enter{
							margin: 20px auto 0;
							background-color: orange;
						}
					}
				p{
					font-weight: 400;
					padding: 0 4%;
				}
			}
		}

#form-enter,#contact-enter{
	padding-left: 20px;
	width: 220px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	&::before{
	left: 21px;
	top: 36%;	
	}
	@include tab {
		width: 190px;
		height: 45px;
	line-height: 45px;
	}
}

.donaition-pattern{
	font-weight: 400;
	color: #FF662E;
	padding-right: 1em;
}


footer{
	background-color: orange;
	padding: 10px 0;
	.copy{
		text-align: center;
		color:white;
	}
}

//ページトップスクロール

#pagetop {
	position: fixed;
	bottom: 30px;
	right: 40px;
	z-index: 9999;
	display: none;
	background-color: #FF0000;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	opacity: 0.8;
	cursor: pointer;
	@include tab {
		width: 80px;
		height: 80px;
		bottom: 20px;
		right: 20px;
	}
}

.top_triangle {
	display: inline-block;
	border-right: 20px solid transparent;
    border-bottom: 28px solid white;
    border-left: 20px solid transparent;
	position: absolute;
	top: 0;
	left: -2px;
	right: 0;
	bottom: 5px;
	margin: auto;
	width: 0;
	height: 0;
}


	
	
