@charset "UTF-8";
/* Scss Document */
@media (min-width: 769px) {
  .tab {
    display: none;
  }
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }

  .tab {
    display: block;
  }
}
section, .ad-description .text, .ad-description .text #readmore, .ad-contents h2, .donaition-method .donaition-text, .donaition-method .donaition-text dl {
  margin: 0 auto;
}

header .header-inner h1 a img, .main-image .main-button img, .title-wrapper .contents-h3 img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

section, article, aside, hgroup, header, footer, nav, figure {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a img:hover {
  opacity: 0.8;
}

li img {
  display: block;
}

a img {
  border-style: none;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

h2 {
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0929));
}

h3, h4 {
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 768px) {
  h3, h4 {
    font-size: 22px;
  }
}

body {
  font-family: 'Cambria','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 200;
  color: #000;
}

header {
  width: 100%;
  border-bottom: solid 2px #ffcc66;
  box-sizing: border-box;
  height: 40px;
}
@media (max-width: 480px) {
  header {
    height: 25px;
  }
}
header .header-inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 480px) {
  header .header-inner {
    width: 90%;
  }
}
header .header-inner h1 {
  position: absolute;
  width: 150px;
  height: 35px;
}
@media (max-width: 768px) {
  header .header-inner h1 {
    width: 140px;
  }
}
@media (max-width: 480px) {
  header .header-inner h1 {
    width: 80px;
    top: -4px;
  }
}

.main-image {
  position: relative;
  width: 100%;
}
.main-image .image img {
  width: 100%;
  height: 96vh;
  object-fit: cover;
  vertical-align: top;
}
@media (max-width: 1024px) {
  .main-image .image img {
    height: auto;
  }
}
.main-image .cachcopy {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: auto;
  width: 40%;
}
@media (max-width: 768px) {
  .main-image .cachcopy {
    width: 57%;
  }
}
.main-image .cachcopy img {
  width: 100%;
  height: auto;
}
.main-image .main-button {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 30%;
}
@media (max-width: 480px) {
  .main-image .main-button {
    width: 45%;
    bottom: 2%;
    left: 3%;
  }
}

section {
  padding-top: 80px;
  width: 70%;
}
@media (max-width: 1024px) {
  section {
    width: 85%;
  }
}
@media (max-width: 768px) {
  section {
    width: 90%;
  }
}

.ad-description {
  width: 100%;
  position: relative;
  background-color: #FFF8EF;
}
@media (max-width: 480px) {
  .ad-description {
    margin: 0;
  }
}
.ad-description .text {
  width: 70%;
  padding: 40px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .ad-description .text {
    width: 90%;
    padding: 20px 0;
  }
}
.ad-description .text h2 {
  color: #ff6600;
  margin-bottom: 40px;
  line-height: 1.6;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.9126));
}
@media (max-width: 480px) {
  .ad-description .text h2 {
    margin-bottom: 15px;
  }
}
.ad-description .text p {
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .ad-description .text p {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.ad-description .text #readmore {
  width: 250px;
  padding: 35px 0;
}
.ad-description .text #readmore a {
  display: block;
  border: red 1px solid;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0 10px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.ad-description .text #readmore a:hover {
  background-color: red;
  color: white;
}
.ad-description .ball {
  width: 20%;
  height: auto;
  border-radius: 50%;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .ad-description .ball {
    display: none;
  }
}
.ad-description .photo {
  z-index: 2;
}
@media (max-width: 1024px) {
  .ad-description .photo {
    display: none;
  }
}
.ad-description img {
  width: 100%;
  position: absolute;
  height: auto;
}
.ad-description #sample1 {
  top: 13%;
  left: 1%;
  width: 11%;
}
.ad-description #sample2 {
  top: 52%;
  left: 6%;
  width: 14%;
}
.ad-description #pink-ball {
  top: 35%;
  left: 13%;
  width: 3%;
  opacity: .3;
}
@media (max-width: 1024px) {
  .ad-description #pink-ball {
    top: 40%;
    left: 2%;
    width: 10%;
  }
}
.ad-description #green-ball {
  top: 9%;
  left: 15%;
  width: 5%;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .ad-description #green-ball {
    top: 18%;
    left: 9%;
    width: 5%;
  }
}
.ad-description #pink-ball2 {
  bottom: 10%;
  left: 3%;
  width: 6%;
  opacity: .5;
}
@media (max-width: 1024px) {
  .ad-description #pink-ball2 {
    bottom: 23%;
    left: 7%;
    width: 5%;
  }
}
.ad-description #sample3 {
  right: 0%;
  top: 15%;
  width: 16%;
}
.ad-description #sample4 {
  right: 10%;
  bottom: 5%;
  width: 11%;
}
.ad-description #yellow-ball {
  right: 17%;
  top: 12%;
  width: 3%;
  background-color: #FFFC59;
}
@media (max-width: 1024px) {
  .ad-description #yellow-ball {
    top: 20%;
    right: 5%;
    width: 6%;
  }
}
.ad-description #pink-ball3 {
  right: 4%;
  top: 66%;
  width: 2%;
  opacity: .4;
}
@media (max-width: 1024px) {
  .ad-description #pink-ball3 {
    top: 71%;
    right: 5%;
    width: 5%;
  }
}
.ad-description #pink-ball4 {
  right: 18%;
  top: 44%;
  width: 5%;
  opacity: .6;
}
@media (max-width: 1024px) {
  .ad-description #pink-ball4 {
    display: none;
  }
}
.ad-description #green-ball2 {
  right: 5%;
  top: 58%;
  width: 4%;
  background-color: #B6FF45;
}
@media (max-width: 1024px) {
  .ad-description #green-ball2 {
    top: 43%;
    right: 2%;
    width: 10%;
  }
}

.title-wrapper {
  /*display: table;*/
  /*table-layout: fixed;*/
  display: block;
  border-bottom: 1px solid #FF9D00;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.title-wrapper .square {
  display: table-cell;
  display: none;
  border-radius: 50%;
  background-color: #FF7B15;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .title-wrapper .square {
    font-size: 28px;
    width: 44px;
    height: 44px;
  }
}
.title-wrapper .contents-h3 {
  /*display: table-cell;*/
  width: 110px;
  padding-left: 15px;
  padding-top: 3px;
}
.title-wrapper .contents-h3 img {
  vertical-align: middle;
}
.title-wrapper .talk-logo {
  width: 160px;
}

.sp {
  display: none;
}
@media (max-width: 480px) {
  .sp {
    display: block;
  }
}

@media (max-width: 480px) {
  .pc {
    display: none;
  }
}

.rolemo, .talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.wrap {
  padding-top: 80px;
}

.wrap:last-child {
  padding-bottom: 80px;
}
@media (max-width: 480px) {
  .wrap:last-child {
    padding-top: 40px;
  }
}

.description {
  vertical-align: top;
  width: 50%;
}
@media (max-width: 480px) {
  .description {
    min-width: 320px;
    margin: 0 auto;
  }
}

.description p {
  font-size: 14px;
  line-height: 1.7;
  padding: 0 3%;
}
@media (max-width: 480px) {
  .description p {
    width: 96%;
    margin: 0 auto;
    padding-left: 1%;
  }
}

.thumnail {
  width: 45%;
}

.thumnail img {
  width: 100%;
  height: auto;
  box-shadow: 8px 10px 36px 8px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .thumnail img {
    box-shadow: 4px 6px 24px 0px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 768px) {
  .thumnail, .description {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .thumnail, .description {
    width: 100%;
    min-width: 270px;
    margin: 15px auto 0;
    padding: 0;
  }
}

.btn {
  display: block;
  width: 170px;
  height: 40px;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 10px;
  position: relative;
  color: white;
}
@media (max-width: 768px) {
  .btn {
    width: 150px;
  }
}
.btn::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 36px;
  top: 33%;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid white;
}

.ad-contents h2 {
  width: 100%;
}
.ad-contents h2 .inner-h2 {
  display: inline-block;
  width: 90%;
}
.ad-contents h2 .inner-h2::after {
  display: block;
  height: 7px;
  content: "";
  width: 100%;
  margin: 5px auto 0;
  background-color: yellow;
}
@media (max-width: 480px) {
  .ad-contents .rolemo {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 768px) {
  .ad-contents .rolemo .description {
    padding-right: 3%;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .ad-contents .rolemo .description {
    padding: 0;
  }
}

.ad-contents .rolemo #rolemo-button {
  padding-top: 20px;
}
.ad-contents .rolemo #rolemo-button .btn {
  background-color: #FF8400;
}
.ad-contents .rolemo #rolemo-button .btn:hover {
  background-color: #FE9971;
}
@media (max-width: 480px) {
  .ad-contents .talk {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.ad-contents .talk .description {
  padding-left: 10%;
}
@media (max-width: 768px) {
  .ad-contents .talk .description {
    padding-left: 4%;
  }
}
@media (max-width: 480px) {
  .ad-contents .talk .description {
    padding: 0;
  }
}

.donaition-method {
  width: 100%;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff7ca;
}
.donaition-method .donaition-text {
  width: 50%;
  text-align: center;
  border: solid 1px #fc6;
  border-radius: 8px;
  padding: 40px 60px;
  background-color: #fffce3;
}
@media (max-width: 768px) {
  .donaition-method .donaition-text {
    padding: 20px 7%;
    width: 80%;
  }
}
@media (max-width: 480px) {
  .donaition-method .donaition-text {
    padding: 20px 0;
    width: 90%;
  }
}
.donaition-method .donaition-text h3 {
  margin-bottom: 30px;
  color: #FF662E;
  font-size: calc(1.625rem + ((1vw - 4.8px) * 0.7843));
  font-weight: 500;
  border-bottom: 2px solid #FF662E;
}
@media (max-width: 480px) {
  .donaition-method .donaition-text h3 {
    margin: 0 3% 30px;
  }
}
.donaition-method .donaition-text dl {
  width: 70%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .donaition-method .donaition-text dl {
    font-size: 12px;
  }
}
.donaition-method .donaition-text dl dt {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.donaition-method .donaition-text dl dd:first-child {
  margin-left: 1em;
}
.donaition-method .donaition-text dl dd #red {
  color: red;
  font-size: 1em;
  padding-left: 3px;
}
.donaition-method .donaition-text dl dd #form-enter {
  margin: 30px auto 0;
  background-color: red;
}
.donaition-method .donaition-text #contact {
  text-align: center;
  padding: 30px 0 20px;
}
.donaition-method .donaition-text #contact #contact-enter {
  margin: 20px auto 0;
  background-color: orange;
}
.donaition-method .donaition-text p {
  font-weight: 400;
  padding: 0 4%;
}

#form-enter, #contact-enter {
  padding-left: 20px;
  width: 220px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
}
#form-enter::before, #contact-enter::before {
  left: 21px;
  top: 36%;
}
@media (max-width: 768px) {
  #form-enter, #contact-enter {
    width: 190px;
    height: 45px;
    line-height: 45px;
  }
}

.donaition-pattern {
  font-weight: 400;
  color: #FF662E;
  padding-right: 1em;
}

footer {
  background-color: orange;
  padding: 10px 0;
}
footer .copy {
  text-align: center;
  color: white;
}

#pagetop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  display: none;
  background-color: #FF0000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 768px) {
  #pagetop {
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
  }
}

.top_triangle {
  display: inline-block;
  border-right: 20px solid transparent;
  border-bottom: 28px solid white;
  border-left: 20px solid transparent;
  position: absolute;
  top: 0;
  left: -2px;
  right: 0;
  bottom: 5px;
  margin: auto;
  width: 0;
  height: 0;
}
