@charset "UTF-8";
/* Scss Document */
@media (min-width: 481px) {
  .sp {
    display: none; } }
@media (max-width: 480px) {
  .pc {
    display: none; } }
section, .ad-description .text, .ad-description .text #readmore, .ad-contents h2 {
  margin: 0 auto; }

header .header-inner h1 a img, .main-image .main-button img, .ad-contents .rolemo .description #rolemo-button a img, .donaition-method .donaition-text dl dd #form-enter img, .donaition-method .donaition-text #contact #contact-enter img {
  width: 100%;
  height: auto; }

* {
  margin: 0;
  padding: 0; }

section, article, aside, hgroup, header, footer, nav, figure {
  display: block; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a img:hover {
  opacity: 0.8; }

li img {
  display: block; }

a img {
  border-style: none; }

.cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

h2 {
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0929)); }

h3, h4 {
  font-size: 26px;
  font-weight: 400; }
  @media (max-width: 768px) {
    h3, h4 {
      font-size: 22px; } }

body {
  font-family: 'Cambria','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', 'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 200;
  color: #000; }

header {
  width: 100%;
  border-bottom: solid 2px #ffcc66;
  box-sizing: border-box;
  height: 40px; }
  @media (max-width: 480px) {
    header {
      height: 25px; } }
  header .header-inner {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    @media (max-width: 480px) {
      header .header-inner {
        width: 90%; } }
    header .header-inner h1 {
      position: absolute;
      width: 150px;
      height: 35px; }
      @media (max-width: 768px) {
        header .header-inner h1 {
          width: 140px; } }
      @media (max-width: 480px) {
        header .header-inner h1 {
          width: 80px;
          top: -4px; } }

.main-image {
  position: relative;
  width: 100%; }
  .main-image .image img {
    width: 100%;
    object-fit: cover; }
  .main-image .cachcopy {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    width: 40%; }
    @media (max-width: 480px) {
      .main-image .cachcopy {
        width: 60%; } }
    .main-image .cachcopy img {
      width: 100%;
      height: auto; }
  .main-image .main-button {
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 30%; }
    @media (max-width: 480px) {
      .main-image .main-button {
        width: 45%;
        bottom: 2%;
        left: 3%; } }

/*	.main-image {
	  width: 100%;
		height: 100vh;
		height: 700px;
	  background: url(../images/main_image.jpg) no-repeat center top;
	 background-size:cover;
	position: relative;
			@include pc {
			height: 550px;
		}
		
		@include tab {
			height: 60vh;
		};
		
		@include sp {
			height: 220px;
		};
	 
	  .cachcopy {
		position: absolute;
		  top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		  height: auto;
		  width: 550px;
		  @include pc {
			  width: 450px;
		  }
		  @include tab {
			  width: 60%;
		  }
		  
		  @include sp {
			  width: 60%;
		  }
		  img {
			  width: 100%;
			  height: auto;
		  }
	  }
	  .main-button {
		position: absolute;
		  bottom: 8%;
		  left: 5%;
		width: 35%;
		  @include tab {
			  width: 45%;
		  }
		  
		  @include sp {
			  width: 40%;
			  bottom: 3%;
			  left: 4%;
		  }
			img {
			  width: 100%;
			  height: auto;
			}
	   }
    }*/
section {
  margin-top: 40px;
  width: 70%; }
  @media (max-width: 1024px) {
    section {
      width: 85%; } }
  @media (max-width: 768px) {
    section {
      width: 90%;
      margin: 30px auto; } }

.ad-description {
  width: 100%;
  margin-top: 40px;
  position: relative; }
  @media (max-width: 480px) {
    .ad-description {
      margin: 0; } }
  .ad-description .text {
    width: 70%;
    padding: 40px 0;
    text-align: center; }
    @media (max-width: 768px) {
      .ad-description .text {
        width: 90%; } }
    .ad-description .text h2 {
      color: #ff6600;
      margin-bottom: 40px;
      line-height: 1.4; }
      @media (max-width: 480px) {
        .ad-description .text h2 {
          margin-bottom: 15px; } }
    .ad-description .text p {
      line-height: 1.7;
      font-size: 16px;
      margin-bottom: 20px; }
      @media (max-width: 480px) {
        .ad-description .text p {
          margin-bottom: 15px;
          font-size: 14px; } }
    .ad-description .text #readmore {
      width: 250px;
      padding: 35px 0; }
      .ad-description .text #readmore a {
        display: block;
        border: red 1px solid;
        text-align: center;
        color: red;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 0 10px;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out; }
      .ad-description .text #readmore a:hover {
        background-color: red;
        color: white; }
  .ad-description .ball {
    position: absolute;
    background-color: aqua;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: 0.8; }
  .ad-description img {
    display: block;
    position: absolute;
    width: 80px; }
  .ad-description #sample1 {
    top: 245px;
    left: 187px;
    width: 160px; }
  .ad-description #sample2 {
    top: 17px;
    left: 55px;
    width: 220px; }
  .ad-description #pink-ball {
    top: 270px;
    left: 125px;
    width: 30px;
    height: 30px;
    background-color: pink; }
  .ad-description #green-ball {
    top: 20px;
    left: 295px;
    width: 60px;
    height: 60px;
    background-color: #6AFF45;
    opacity: 0.6; }
  .ad-description #pink-ball2 {
    bottom: -5px;
    left: 80px;
    width: 110px;
    height: 110px;
    background-color: pink; }
  .ad-description #sample3 {
    right: 10px;
    top: 40px;
    width: 200px; }
  .ad-description #sample4 {
    right: 160px;
    bottom: -10px;
    width: 180px; }
  .ad-description #yellow-ball {
    right: 260px;
    top: 170px;
    width: 50px;
    height: 50px; }
  .ad-description #pink-ball3 {
    right: 20px;
    top: 290px;
    width: 90px;
    height: 90px;
    background-color: #FF8694; }
  .ad-description #green-ball2 {
    right: 80px;
    top: 268px;
    width: 80px;
    height: 80px;
    background-color: #B6FF45; }

.title-wrapper {
  display: table;
  table-layout: fixed;
  padding-bottom: 15px; }
  @media (max-width: 480px) {
    .title-wrapper {
      padding: 0; } }
  .title-wrapper .square {
    display: table-cell;
    border-radius: 50%;
    background-color: #ffcc00;
    width: 44px;
    height: 44px;
    color: white;
    font-size: 28px;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 768px) {
      .title-wrapper .square {
        font-size: 20px;
        width: 38px;
        height: 38px; } }
  .title-wrapper .contents-h3 {
    display: table-cell;
    line-height: 1;
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 3px; }

.sp {
  display: none; }
  @media (max-width: 480px) {
    .sp {
      display: table; } }

@media (max-width: 480px) {
  .pc {
    display: none; } }

.rolemo, .talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 30px; }

.wrap {
  margin-top: 50px; }
  @media (max-width: 480px) {
    .wrap {
      margin-bottom: 25px; } }

.wrap:last-child {
  padding-bottom: 40px; }

.description {
  vertical-align: top;
  width: 50%; }
  @media (max-width: 480px) {
    .description {
      min-width: 320px;
      margin: 0 auto; } }

.description p {
  font-size: 14px;
  line-height: 1.7; }
  @media (max-width: 480px) {
    .description p {
      width: 96%;
      margin: 0 auto;
      padding-left: 1%; } }

.thumnail {
  width: 45%; }

.thumnail img {
  width: 100%;
  height: auto;
  box-shadow: 8px 10px 36px 8px rgba(0, 0, 0, 0.3); }
  @media (max-width: 768px) {
    .thumnail img {
      box-shadow: 4px 6px 24px 0px rgba(0, 0, 0, 0.3); } }

@media (max-width: 768px) {
  .thumnail, .description {
    width: 50%; } }
@media (max-width: 480px) {
  .thumnail, .description {
    width: 100%;
    min-width: 270px;
    margin: 15px auto 0;
    padding: 0; } }

.ad-contents h2 {
  width: 100%; }
  .ad-contents h2 .inner-h2 {
    display: inline-block; }
    .ad-contents h2 .inner-h2::after {
      display: block;
      height: 7px;
      content: "";
      width: 100%;
      margin: -7px auto 0;
      background-color: yellow; }
@media (max-width: 480px) {
  .ad-contents .rolemo {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; } }
@media (max-width: 768px) {
  .ad-contents .rolemo .description {
    padding-right: 3%; } }
  @media (max-width: 768px) and (max-width: 480px) {
    .ad-contents .rolemo .description {
      padding: 0; } }

.ad-contents .rolemo .description #rolemo-button {
  padding-top: 20px; }
  .ad-contents .rolemo .description #rolemo-button a {
    width: 140px;
    display: block; }
    @media (max-width: 768px) {
      .ad-contents .rolemo .description #rolemo-button a {
        width: 120px; } }
@media (max-width: 480px) {
  .ad-contents .talk {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
.ad-contents .talk .description {
  padding-left: 10%; }
  @media (max-width: 768px) {
    .ad-contents .talk .description {
      padding-left: 4%; } }
  @media (max-width: 480px) {
    .ad-contents .talk .description {
      padding: 0; } }

.donaition-method {
  width: 70%;
  border: solid 3px red;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .donaition-method {
      width: 90%; } }
  .donaition-method .donaition-text {
    text-align: center;
    padding: 20px 20%; }
    @media (max-width: 768px) {
      .donaition-method .donaition-text {
        padding: 20px 7%; } }
    .donaition-method .donaition-text h3 {
      margin-bottom: 20px; }
    .donaition-method .donaition-text dl {
      text-align: left;
      font-size: 14px;
      margin-bottom: 10px; }
      @media (max-width: 768px) {
        .donaition-method .donaition-text dl {
          font-size: 12px; } }
      .donaition-method .donaition-text dl dt {
        font-size: 1.5em;
        margin-bottom: 5px; }
      .donaition-method .donaition-text dl dd:first-child {
        margin-left: 1em; }
      .donaition-method .donaition-text dl dd #red {
        color: red;
        font-size: 1em;
        padding-left: 3px; }
      .donaition-method .donaition-text dl dd #form-enter {
        margin: 30px auto 0; }
    .donaition-method .donaition-text #contact {
      text-align: center;
      padding: 30px 0 20px; }
      .donaition-method .donaition-text #contact #contact-enter {
        margin: 20px auto 0; }
    .donaition-method .donaition-text p {
      font-weight: 400; }

#form-enter, #contact-enter {
  display: block;
  width: 200px; }
  @media (max-width: 480px) {
    #form-enter, #contact-enter {
      width: 150px; } }

footer {
  background-color: orange;
  padding: 10px 0; }
  footer .copy {
    text-align: center;
    color: white; }

#pagetop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  display: none;
  background-color: #FF0000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  opacity: 0.8;
  cursor: pointer; }
  @media (max-width: 768px) {
    #pagetop {
      width: 80px;
      height: 80px;
      bottom: 20px;
      right: 20px; } }

.top_triangle {
  display: inline-block;
  border-right: 20px solid transparent;
  border-bottom: 28px solid white;
  border-left: 20px solid transparent;
  position: absolute;
  top: 0;
  left: -2px;
  right: 0;
  bottom: 5px;
  margin: auto;
  width: 0;
  height: 0; }

/*# sourceMappingURL=style.css.map */
